[submodule "thirdparty/MetaHookSv"]
	path = thirdparty/MetaHookSv
	url = https://github.com/hzqst/MetaHookSv
[submodule "thirdparty/libiconv-win-build"]
	path = thirdparty/libiconv-win-build
	url = https://github.com/hzqst/libiconv-win-build.git
[submodule "thirdparty/zlib-win-build"]
	path = thirdparty/zlib-win-build
	url = https://github.com/hzqst/zlib-win-build.git
[submodule "thirdparty/xz-win-build"]
	path = thirdparty/xz-win-build
	url = https://github.com/hzqst/xz-win-build.git
[submodule "thirdparty/libxml2-win-build"]
	path = thirdparty/libxml2-win-build
	url = https://github.com/hzqst/libxml2-win-build
[submodule "thirdparty/sqlite3-cmake"]
	path = thirdparty/sqlite3-cmake
	url = https://github.com/sjinks/sqlite3-cmake
